/**
 * sassfile for desktops
 */
 nav {
    display: flex;
    height: 50px;
    background-color: #F9F9F2;
    border-bottom: 1px solid $colorSite;
    width: 100%; // position: fixed;
    outline: none;
   
    
 
    a {
        display: block;
        white-space: nowrap;
        padding: 25px;
        color: $colorSite;
        text-decoration: none;
        font-size: 18px;
        font-family: 'Lato', cursive;
        -webkit-transition: 0.25s ease-in-out;
        transition: 0.25s ease-in-out;
        &:hover {
            color: $colorSite;
            text-decoration: none;
        }
        @media screen and (max-width: 62em) {
            font-size: 14px;
        }
        @media screen and (max-width: 48em) {
            opacity: 0;
        }
    }
    @media screen and (max-width: 48em) {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -webkit-transform: translateX(-100%);
                transform: translateX(-100%);
        -webkit-transition: 0.35s ease-in-out;
        transition: 0.35s ease-in-out;
        height: 100%;
    }
}