/**
 * Master sass file
 */
@import url("https://fonts.googleapis.com/css?family=Roboto");
body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  text-rendering: optimizeLegibility !important;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  overflow-x: hidden;
  background-color: rgba(247, 247, 236, 0.644);
}

ol, ul, li {
  list-style: none;
}

a {
  text-decoration: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/**
 * Less file for html tags only
 */
ul {
  list-style: disc;
  margin: 0 0 2em 0;
  padding-left: 1em;
}

ul.actions {
  cursor: default;
  list-style: none;
  padding-left: 0;
}

ul.actions li {
  display: inline-block;
  padding: 0 1em 0 0;
  vertical-align: middle;
}

ul.actions li:last-child {
  padding-right: 0;
}

.contact-container {
  width: 100%;
  /*   padding-top: 20%; */
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

/* Buttons */
input[type="submit"],
input[type="reset"],
input[type="button"],
.button {
  -moz-appearance: none;
  -webkit-appearance: none;
  -o-appearance: none;
  -ms-appearance: none;
  appearance: none;
  -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  background-color: transparent;
  border-radius: 0.5em;
  border: solid 1px rgba(144, 144, 144, 0.25);
  color: #545454;
  cursor: pointer;
  display: inline-block;
  font-size: 0.8em;
  font-weight: 700;
  height: 3.5em;
  letter-spacing: 0.1em;
  line-height: 3.5em;
  overflow: hidden;
  padding: 0 2em;
  text-align: center;
  text-decoration: none;
  text-overflow: ellipsis;
  text-transform: uppercase;
  white-space: nowrap;
}

input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
.button:hover {
  background-color: rgba(144, 144, 144, 0.075);
  color: #545454;
}

input[type="submit"]:active,
input[type="reset"]:active,
input[type="button"]:active,
.button:active {
  background-color: rgba(144, 144, 144, 0.2);
}

input[type="submit"].icon,
input[type="reset"].icon,
input[type="button"].icon,
.button.icon {
  padding-left: 1.35em;
}

input[type="submit"].icon:before,
input[type="reset"].icon:before,
input[type="button"].icon:before,
.button.icon:before {
  margin-right: 0.5em;
}

#submit {
  background: #f7d635;
  color: #fff;
  border-color: #fff;
}

#submit:hover {
  color: #f7d635;
  background-color: white;
}

/* Popup */
.cd-popup {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(94, 110, 141, 0.9);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.3s 0s, visibility 0s 0.3s;
  transition: opacity 0.3s 0s, visibility 0s 0.3s;
  overflow-y: auto;
  z-index: 10000;
}

.cd-popup.is-visible {
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 0.3s 0s, visibility 0s 0s;
  transition: opacity 0.3s 0s, visibility 0s 0s;
}

.cd-popup-container {
  overflow-x: hidden;
  border: none;
  position: relative;
  width: 82%;
  max-width: 82%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background: #fff;
  border-radius: .25em .25em .4em .4em;
  text-align: center;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transform: translateY(-40px);
  transform: translateY(-40px);
  /* Force Hardware Acceleration in WebKit */
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

.cd-popup-container p {
  margin: 0;
  padding: 3em 1em;
  padding-top: 1em;
}

.cd-popup-container .cd-popup-close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
}

.cd-close-button {
  color: #f7d635;
  border-bottom: none;
}

.cd-close-button:hover {
  color: red;
}

.cd-popup-container .cd-popup-close::before {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  left: 8px;
}

.cd-popup-container .cd-popup-close::after {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  right: 8px;
}

.is-visible .cd-popup-container {
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

@media only screen and (min-width: 1170px) {
  .cd-popup-container {
    margin: 2em auto;
  }
}

/* Contact Form */
label:hover {
  cursor: text;
}

.contact-form {
  background: #ffffff;
  height: 100vh;
  margin: 100px auto;
  max-width: 82%;
  overflow: hidden;
  width: 100%;
  border-radius: 5px;
  -webkit-box-shadow: rgba(26, 26, 26, 0.1) 0 1px 3px 0;
  box-shadow: rgba(26, 26, 26, 0.1) 0 1px 3px 0;
}

@media (max-width: 500px) {
  .contact-form {
    margin: 0;
    padding-top: 1em;
    width: 100%;
    max-width: 100%;
    border-radius: 0px;
    -webkit-box-shadow: rgba(26, 26, 26, 0.1) 0 0px 0px 0;
    box-shadow: rgba(26, 26, 26, 0.1) 0 0px 0px 0;
  }
}

.contact-form .email,
.contact-form .message,
.contact-form .name {
  overflow-x: hidden;
  position: relative;
  border-radius: none;
}

.contact-form .email label,
.contact-form .message label,
.contact-form .name label {
  color: #cbd0d3;
  left: 23px;
  position: absolute;
  top: 23px;
  -webkit-transition: all, 150ms;
  transition: all, 150ms;
}

.contact-form .email.typing label,
.contact-form .message.typing label,
.contact-form .name.typing label {
  color: #3498db;
  font-size: 10px;
  top: 7px;
}

.contact-form .email,
.contact-form .name {
  width: calc(50% - 1px);
}

@media (max-width: 500px) {
  .contact-form .email,
  .contact-form .name {
    width: 100%;
  }
}

.contact-form .email input,
.contact-form .name input {
  padding: 23px 0 8px 23px;
  border: none;
}

.contact-form .email {
  border-left: 1px #e6e6e6 solid;
  float: right;
}

@media (max-width: 500px) {
  .contact-form .email {
    border-left: none;
    border-top: 1px #e6e6e6 solid;
  }
}

.contact-form .message {
  border-bottom: 1px #e6e6e6 solid;
  border-top: 1px #e6e6e6 solid;
  clear: both;
}

.contact-form .message textarea {
  height: 75px;
  padding: 23px;
  border: none;
}

.contact-form .name {
  float: left;
}

.contact-form .submit {
  margin-top: 45px;
  background: #64B4CA;
  display: block;
  overflow: hidden;
  padding: 23px;
  margin-bottom: 2em;
}

.contact-form .submit .user-message {
  float: left;
  padding-top: 22px;
  color: #f7d635;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
}

@media (max-width: 500px) {
  .contact-form .submit .user-message {
    float: none;
    padding: 0 0 10px;
  }
}

/*-------------------------Scroll-----------------------------------*/
.scrollTop {
  border-radius: 15px;
  cursor: pointer;
  position: fixed;
  z-index: 10000;
  right: 5%;
  bottom: 50px;
  opacity: 0;
  background-color: #f7d635;
  padding: 20px;
  -webkit-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.scrollTop .fa-angle-double-up {
  font-size: 35px;
  color: #fff;
}

h1 {
  font-family: "Roboto", sans-serif;
  font-size: 45px;
  color: #f7d635;
}

h2 {
  margin-top: 75px;
  font-family: "Roboto", sans-serif;
  text-align: center;
  font-size: 35px;
}

h3 {
  font-size: 30px;
  font-family: "Roboto", sans-serif;
}

h4 {
  margin-top: 45px;
  font-size: 25px;
  font-family: "Roboto", sans-serif;
}

hr {
  width: 60%;
  border: 1px solid black;
}

p {
  padding: 15px;
}

figure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 25px;
  width: 90%;
}

figure img {
  width: 100%;
}

main {
  margin-top: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

main #team {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

main #story {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  background: #93cede;
  background: -webkit-gradient(left top, right bottom, color-stop(0%, #93cede), color-stop(38%, #93cede), color-stop(100%, #49a5bf));
  background: linear-gradient(135deg, #93cede 0%, #93cede 38%, #49a5bf 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#93cede', endColorstr='#49a5bf', GradientType=1);
  color: #555050;
}

main #story h2 {
  color: white;
}

main #spirit {
  -ms-flex-item-align: center;
      align-self: center;
  width: 85%;
  margin-top: 25px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
  border: 3px solid #f7d635;
}

main #work {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 50px;
}

main #work article {
  width: 85%;
}

main #work article figure {
  width: 100%;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #F7D635;
  text-align: center;
}

footer a {
  color: black;
  -webkit-transition: color 0.25s ease-in-out;
  transition: color 0.25s ease-in-out;
}

footer a:hover {
  color: white;
}

footer h3 {
  margin-top: 55px;
}

footer .adress {
  margin-top: 25px;
  margin-bottom: 25px;
}

footer .mentions {
  margin: 25px 0 25px 0;
}

footer .mentions hr {
  width: 100%;
  border: 1px solid #cece38;
}

footer .mentions p {
  line-height: 2rem;
}

footer .social {
  margin: 25px 0 25px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

footer .social .fa-facebook-f,
footer .social .fa-twitter,
footer .social .fas-enveloppe {
  padding: 20px;
}

header {
  height: 100%;
  text-align: center;
}

header h1 {
  margin-top: -55%;
  font-size: 25px;
}

header #anim {
  width: 100%;
  height: 100vh;
  background: #75bdd1;
  background: -webkit-gradient(left top, right bottom, color-stop(0%, #75bdd1), color-stop(54%, #75bdd1), color-stop(100%, #49a5bf));
  background: linear-gradient(135deg, #75bdd1 0%, #75bdd1 54%, #49a5bf 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#75bdd1', endColorstr='#49a5bf', GradientType=1);
}

header nav {
  visibility: hidden;
}

.burger {
  position: absolute;
  z-index: 20;
  -webkit-transform: translateY(-150px);
  transform: translateY(-150px);
  left: 65%;
  top: -2%;
  opacity: 0;
  visibility: hidden;
  cursor: pointer;
  position: fixed;
  z-index: 1000;
}

@media screen and (max-width: 48em) {
  .burger {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
  }
}

.burger svg {
  fill: transparent;
  stroke: #f7d635;
  stroke-width: 4px;
  stroke-linecap: round;
}

.burger .top {
  stroke-dasharray: 40 250;
  -webkit-transition: 1s cubic-bezier(0.7, 0, 0.3, 1);
  transition: 1s cubic-bezier(0.7, 0, 0.3, 1);
}

.burger .middle {
  stroke-dasharray: 40, 0;
  stroke-dashoffset: 40;
  -webkit-transition: 1s cubic-bezier(0.7, 0, 0.3, 1);
  transition: 1s cubic-bezier(0.7, 0, 0.3, 1);
}

.burger .bottom {
  stroke-dasharray: 40 310;
  -webkit-transition: 1s cubic-bezier(0.7, 0, 0.3, 1);
  transition: 1s cubic-bezier(0.7, 0, 0.3, 1);
}

.active .top {
  stroke-dashoffset: -227;
}

.active .middle {
  stroke-dasharray: 0, 40;
  stroke-dashoffset: 20;
}

.active .bottom {
  stroke-dashoffset: -287;
}

.nav-mobil {
  text-align: center;
  z-index: 1000;
  height: 100%;
  width: 60%;
  background-color: #f7d635;
  visibility: visible;
  position: fixed;
  top: 0;
  left: -150px;
  opacity: 0.8;
  -webkit-transform: translateX(150px);
          transform: translateX(150px);
  -webkit-transition: opacity 0.25s ease-in-out;
  transition: opacity 0.25s ease-in-out;
  -webkit-transition: opacity 0.25s ease-in-out, -webkit-transform 0.25s ease-in-out;
  transition: opacity 0.25s ease-in-out, -webkit-transform 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out, opacity 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out, opacity 0.25s ease-in-out, -webkit-transform 0.25s ease-in-out;
}

@media screen and (max-width: 22.5em), (max-width: 36em), (max-width: 48em), (max-width: 62em) {
  .nav-mobil {
    width: 65%;
  }
}

@media screen and (min-width: 48em) {
  .nav-mobil {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: transparent;
  }
}

.nav-mobil a {
  display: block;
  text-decoration: none;
  color: black;
}

@media screen and (max-width: 48em) {
  .nav-mobil a {
    opacity: 1;
    font-size: 22px;
    margin-top: 20%;
    color: white;
  }
}

.nav-mobil a:hover {
  color: rgba(109, 101, 101, 0.692);
  -webkit-transition: color 0.35s ease-in-out;
  transition: color 0.35s ease-in-out;
}

.mask.closed {
  opacity: 1;
  visibility: visible;
}

.mask {
  position: fixed;
  visibility: hidden;
  z-index: 999;
  opacity: 0;
  top: 0;
  left: 0;
  z-index: 998;
  width: 100%;
  height: 100%;
  background: rgba(53, 52, 52, 0.7);
  -webkit-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}

.error {
  background-image: url("../img/404.png");
}

@media (min-width: 768px) {
  /**
 * Less file for tablets
 */
}

/**
 * sassfile for desktops
 */
@media (min-width: 992px) {
  header {
    position: relative;
  }
  header .mask {
    display: none;
  }
  header h1 {
    margin-top: -20%;
    font-size: 45px;
  }
  header nav {
    z-index: 1000;
    position: fixed;
    top: 0;
    visibility: visible;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 50px;
    background-color: #F9F9F2;
    border-bottom: 1px solid #f7d635;
    width: 100%;
    outline: none;
  }
  header nav a {
    padding: 15px 15px 15px 10px;
    display: block;
    white-space: nowrap;
    color: #f7d635;
    text-decoration: none;
    font-size: 18px;
    font-family: 'Lato', cursive;
    -webkit-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
  }
  header nav a:hover {
    color: #f7d635;
    text-decoration: none;
  }
  main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  main #team {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 50px;
    background-image: url("../img/MockUp.png");
    background-size: cover;
    background-attachment: fixed;
  }
  main #team h2 {
    width: 100%;
  }
  main #team figure {
    width: 30%;
    margin-bottom: 150px;
    margin-top: 100px;
  }
  main #story {
    margin-bottom: 50px;
    width: 85%;
  }
  main #story p {
    padding-bottom: 45px;
  }
  main #spirit {
    margin-bottom: 75px;
  }
  main #spirit h2 {
    margin-top: 15px;
  }
  main #spirit p {
    padding-bottom: 45px;
  }
  main #work {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    background-image: url("../img/mock.jpg");
    background-size: cover;
    background-attachment: fixed;
  }
  main #work h2 {
    width: 100%;
  }
  main #work article {
    width: 30%;
  }
}

@media (min-width: 1200px) {
  /**
 * Less file for large desktops
 */
  #story {
    background-image: url("../img/MockUp.png");
    background-size: contain;
    background-repeat: no-repeat;
  }
}
/*# sourceMappingURL=style.css.map */